/* 
    Created on : Mar 30, 2015, 11:00:55 AM
    Author     : Jeffry Angtoni
*/
@import "standard.css";
/* General CSS */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    background: url("../images/bg.png") repeat fixed;
    z-index: -9999;
}

.container{
    border: 1px dashed brown;
    background: none;
    padding: 3em 0;
    z-index: -3;
}

div#header{
    border: 1px dashed black;
    background-color: white;
    height: auto; /* for testing */
    z-index: 1;
}

.content{
    border-left: 1px dashed darkorange;
    border-bottom: 1px dashed darkorange;
    border-right: 1px dashed darkorange;
    background-color: white;
}
/**** Code Save for review angular.js animation
.pageAnimation{
    transition: ease-in-out 0.5s all;
    opacity: 1;
}

.pageAnimation.ng-hide{
    opacity: 0;
}
***/

/*.pageAnimation.ng-hide{
    opacity: 0;
}*/
/** End General CSS **/

/** Extended **/
.col-md-8{
    padding:15px;
}

.col-sm-3{
    width: 21%;
}
/** End of Extended **/

/* Custom Class */
.h3_title{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-shadow: 1px 0 3px rgba(0,0,0,0.5);
}

.h3_title a{
    text-decoration: none;
    color: inherit;
}

.legend_s{
    font-size: 18px;
}

.txtField{
    font-size: 14px;
    height: 28px;
    border-radius: 0;
    padding: 5px;
    font-weight: 300;
    color: rgb(114,114,114);
}

.txtField::-webkit-input-placeholder{
    color: rgb(209,209,209);
}

.txtField::-moz-input-placeholder{
    color: rgb(209,209,209);
}

.txtField::-ms-input-placeholder{
    color: rgb(209,209,209);
}

.txtField:-moz-input-placeholder{
    color: rgb(209,209,209);
}

.toggle{
    color: white;
    height: 28px;
    padding: 3px 12px;
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    border-color: gainsboro;
}

.toggle:hover{
    background: linear-gradient(to bottom, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
    border-color: gainsboro;
    color: black;
}

.btnEnding{
    border-color: #bfd255;
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    width: 100px;
}

.btnEnding:hover{
    border-color: #9ecb2d;
    background: linear-gradient(to bottom, #9ecb2d 0%,#72aa00 49%,#8eb92a 50%,#bfd255 100%);
}

.btnPrevNext{
    width: 100px;
}

.DBDriverText{
    height: 28px;
    line-height: 0.8;
    margin-bottom: 5px;
}

.fixPage4Label{
    width: 32.666667%;
}

.fixHelpBlockInMaxMinSpend{
    margin-left: 260px;
}
/** End Custom Class **/